#nav .menu .menu-ul li:first-child{
    background-color: rgb(15, 15, 15);
    color: #fff;
}

#nav .menu .menu-ul li:nth-child(3),
 #nav .menu ul li:first-child:hover{
    background-color: #fff;
    color: black;
}

#content{
    height: 1400px;
    width: 87%;
    margin: 0 auto;
}

#content .content-text{
    margin: 150px auto;
    width: 100%;
    height: 250px;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    font-size: 75px;
    text-align: center;
    line-height:75px;
}

#content #container{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
}

#content #container .box{
    background-color: #f8f6f6f6;;
    overflow: hidden;
    cursor: pointer;
    width : 23.5%;
    height: 47%;
    margin-left: 13px;
    margin-top: 13px;
}

#container .box .img{
    width: 100%;
    height: 74%;
    overflow: hidden;
}

#container .box .img img{
    opacity: 50%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#container .box .img .musicIcon{
    top: 880px;
    transition: 0.5s;
    left: 570px;
    opacity: 70%;
    font-size: 33px;
    color: rgb(105, 105, 105);
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    text-align: center;
    border-radius: 50%;
}

#container .box .img:hover .musicIcon{
    transition: 0.5s;
    color:#fff;
    background-color: rgb(22, 22, 22);
    opacity: 100%;
}

#container .box img:hover{
    transform: scale(1.1);
    opacity: 100%;
    transition: 0.5s;
}

#container .box h3{
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 10px 0 5px 15px;
}

#container .box p{  
    font-family: sans-serif;
    font-size: 16px;
    margin:0 0 5px 15px;
    color: darkgray;
    line-height: 20px;
}

#container .box span{
    font-family: sans-serif;
    font-size: 14px;
    color: darkgray;
    margin-left: 15px;
}

#container .no-img{
    text-align: center;
}
#container .no-img div{
    margin-top: 50%;
}

#container .little-img .img{
    height: 40%;
}

#container .little-img .img img{
    height: 150%;
}

#container .little-img p{
    font-size: 20px;
    padding-left: 10px;
    line-height: 30px;
    border-left: 5px solid rgb(46, 46, 46);
}